#filters-menu {
    box-sizing: border-box;
    border: 0.65vh solid floralwhite;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-in-out;
    transform: translateY(-101%);
    background-color: #0A0A1B;
    font-family: "Epilogue";
    > #filters {
        display: grid;
        grid-template-columns: auto auto auto;
        > #left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            >  #button-text {
                padding: 3% 0;
                font-size: 2.3vh;
                letter-spacing: 2px;
                font-weight: 300;
                user-select: none;
            }
            > #buttons {
                width: 60%;
                height: 50%;
                display: flex;
                align-items: end;
                justify-content: space-around;
                > button {
                    background: none;
                    outline: none;
                    cursor: pointer;
                    padding: 0;
                    border: 2px solid floralwhite;
                }
                > #H-button {
                    aspect-ratio: 2;
                    width: 25%;
                }
                > #H-button:hover {
                    border-color: #fba315;
                }
                > #V-button {
                    aspect-ratio: 0.5;
                    width: 12.5%;
                }
                > #V-button:hover {
                    border-color: #fba315;
                }
                > #S-button {
                    aspect-ratio: 1;
                    width: 12.5%;
                }
                > #S-button:hover {
                    border-color: #fba315;
                }
                > #No-button {
                    border: 0;
                    font-weight: 400;
                    font-size: 3.25vh;
                    user-select: none;
                }
                > #No-button:hover {
                    color: #fba315;
                }
            }
            > #buttons.No > #No-button {
                cursor: default;
                color: #FFD645;
            }
            > #buttons.proportionH > #H-button {
                cursor: default;
                border-color: #FFD645;
            }
            > #buttons.proportionV > #V-button {
                cursor: default;
                border-color: #FFD645;
            }
            > #buttons.proportionS > #S-button {
                cursor: default;
                border-color: #FFD645;
            }
        }
        > #tags {
            box-sizing: border-box;
            /* background-color: rebeccapurple; */
            border: 3px solid floralwhite;
            border-top: 0;
            border-bottom: 0;
            > button {
                user-select: none;
                cursor: pointer;
                padding: 0;
                border: 0;
                outline: 0;
                background: none;
                width: 2.8vw;
                border-radius: 100%;
                height: 2.8vw;
                font-size: 1.5vw;
                line-height: 1.5vw;
                border: 1.5px dashed #49B1E9;
                color: #49B1E9;
                transition: 1s ease-in-out;
                transform: rotate(0deg);
            }
            > button:hover {
                color: #00fcf7;
                border-color: #00fcf7;
                transform: rotate(180deg);
            }
            > #tags {
                background-color: red;
            }
        }
        > #right {
            /* background-color: rgb(62, 187, 187); */
        }
    }
    > h3 {
        padding: 1.5% 2%;
        font-family: "Days One";
        margin: 0;
        font-weight: 200;
        font-size: 4vh;
        letter-spacing: 3px;
        user-select: none;
        /* background-color: red; */
    }
    > button {
        cursor: pointer;
        width: 2.8%;
        position: absolute;
        bottom: 2%;
        right: 1%;
        outline: 0;
        border: 0;
        padding: 0;
        background: none;
        transition: 0.3s ease-in;
        > img {
            width: 100%;
        }
    }
    > button:hover {
        transform: translateY(-5%);
    }
}
#filters-menu.opened {
    transform: translateY(0%);
}

