#filters-menu {
    box-sizing: border-box;
    border: 0.65vh solid floralwhite;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-in-out;
    transform: translateY(-101%);
    background-color: #0A0A1B;
    font-family: "Epilogue";
    > #filters {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: rebeccapurple; */
    }
    > h3 {
        padding: 2%;
        font-family: "Days One";
        margin: 0;
        font-weight: 200;
        font-size: 3vh;
        letter-spacing: 3px;
        /* background-color: red; */
    }
    > button {
        cursor: pointer;
        width: 2.8%;
        position: absolute;
        bottom: 0;
        right: 1%;
        outline: 0;
        border: 0;
        padding: 0;
        background: none;
        transition: 0.3s ease-in;
        > img {
            width: 100%;
        }
    }
    > button:hover {
        transform: translateY(-5%);
    }
}
#filters-menu.opened {
    transform: translateY(0%);
}

