#menu-wrapper {
  width: 100;
  position: sticky;
  z-index: 120;
  top: 0;
}

#menu {
  position: sticky;
  padding: 0;
  margin: 0;
  z-index: 120;
  top: 0;
  background-color: #17245C;
  display: flex;
  justify-content: space-between;

  height: 12vh;
  padding-left: 1%;
  
  > #left {
    background-color: #17245C;
    display: flex;
    align-items: center;

    gap: 3%;
    color: #F9F8D7;
    text-decoration: none;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: min(2.5vh, 1.25vw);
    letter-spacing: 6px;

    > img {
      height: 80%;
    }
  }
  > #right {
    background-color: #17245C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    width: 40%;
    gap: 10%;
    button {
      border: 0;
      padding: 0;
      font-size: 0;
      height: 60%;
    }

    > #search {
      width: 40%;
      height: 50%;
      position: relative;
      transition: 1s ease-in-out;
      > img {
        position: absolute;
        left: 5%;
        top: 25%;
        height: 50%;
      }
      > button {
        position: absolute;
        right: 5%;
        top: 23%;
        background-color: transparent;
        > img {
          height: 90%;
          object-fit: fill;
        }
      }
      input {
        width: 60%;
        height: 100%;
        background-color: #F9F8D7;
        border-radius: 100000px;
        padding: 0 20%;
        color: #0A0A1B;
        border: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 3vh;
      }
      input:focus {
        outline: none;
      }
    }
    > #search:has(>input:hover) {
      width: 100%;
    }
    
    > button {
      background-color: transparent;
      > img {
        height: 70%;
      }
    }

    > a {
      flex-basis: 1;
      height: 50%;
      > img {
        height: 100%;
      }
    }
  } 

}