:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;

}

#root {
  width: 100%;
}


::-moz-selection { 
  background: rgba(72, 234, 245, 0.45);
}

::selection {
  background: rgba(72, 234, 245, 0.45);

}