:root {
  color-scheme: light dark;
  color: floralwhite;
  background-color: #0a0a1b;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;

}

#root {
  width: 100%;
}


::-moz-selection { 
  background: rgba(72, 234, 245, 0.45);
}

::selection {
  background: rgba(72, 234, 245, 0.45);

}
img, input, div, a, button, span, p, ul, li, ol, input {
  -webkit-user-drag: none;
}