.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}