#add-form {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > #left {
        user-select: none;
        height: 85%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > #image-wrapper {
            user-select: none;
            width: 65%;
            height: 100%;
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%2349B1E9FF' stroke-width='6' stroke-dasharray='3%2c 14.5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            > input {
                display: none;
            }
            > img {
                user-select: none;
                width: 30%;
            }
        }
        > #image-wrapper:hover {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='aqua' stroke-width='6' stroke-dasharray='3%2c 14.5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        }
        > #image-wrapper:has(>input:valid) {
            box-sizing: border-box;
            padding: 10px;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                border-radius: 14px;
            }
        }
        > #image-wrapper.downloadable {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%2304D223FF' stroke-width='6' stroke-dasharray='3%2c 14.5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        }
        > #image-wrapper:hover.downloadable {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%2300FF26FF' stroke-width='6' stroke-dasharray='3%2c 14.5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        }
        .checkbox-container {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65%;
            font-family: 'Epilogue';
            font-size: 3.5vh;
            margin-top: 3%;
            > .checkbox {
                display: none;
            }
            > .checkbox-mark {
                position: relative;
                background-color: #17194C;
                border: 2.3px solid #49B1E9;
                width: 2vw;
                border-radius: 0.5vw;
                aspect-ratio: 1;
                margin-right: 10%;
            }
            > .checkbox-mark::after {
                content: "";
                position: absolute;
                display: none;
                left: 30%;
                top: 10%;
                width: 30%;
                height: 60%;
                border: solid aqua;
                border-width: 0 0.5vh 0.5vh 0;
                transform: rotate(45deg);
            }
            > .checkbox-mark.downloadable::after {
                display: block;
            }
        }
        .checkbox-container:hover {
            color: aqua;
            > .checkbox-mark {
                background-color: #282b7b;
                border-color: #4cbbf7;
            }
        }
    }
    > #right {
        font-family: 'Epilogue';

        height: 85%;
        width: 40%;
        display: grid;
        grid-template-rows: 1fr 1.5fr 7fr 2fr;
        > #title-wrapper {
            > input {
                padding: 10px 0;
                font-family: 'Days One';
                background: none;
                font-size: 5.3vh;
                width: 100%;
                height: 100%;
                border: 0;
                outline: none;
                padding: 0;
                resize: none;
            }
            > input::placeholder {
                user-select: none;
                color: rgb(149, 149, 149);
            }
        }
        > #tags {
            /* padding: 20px 0; */
            display: flex;
            align-items: center;
            > button {
                user-select: none;
                cursor: pointer;
                padding: 0;
                border: 0;
                outline: 0;
                background: none;
                width: 2.8vw;
                border-radius: 100%;
                height: 2.8vw;
                font-size: 1.5vw;
                line-height: 1.5vw;
                border: 1.5px dashed #49B1E9;
                color: #49B1E9;
                transition: 1s ease-in-out;
                transform: rotate(0deg);
            }
            > button:hover {
                color: #00fcf7;
                border-color: #00fcf7;
                transform: rotate(180deg);
            }

        }
        > #description-wrapper {
            height: 90%;
            position: relative;
            box-sizing: content-box;
            > textarea {
                font-size: 3vh;
                border-radius: 20px;
                background-color: #17245C;
                font-family: 'Epilogue';
                color: floralwhite;
                height: 100%;
                width: 100%;
                border: 0;
                outline: none;
                padding: 0;
                padding: 20px;
                box-sizing: border-box;
                resize: none;
                overflow: scroll;
            }
            > textarea::-webkit-scrollbar {
                display: none;
            }
            > textarea::placeholder {
                color: floralwhite;
            }
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                user-select: none;
                position: absolute;
                bottom: -3.75vh;
                right: 3%;
                font-size: 2vh;
                height: 3vh;
                text-align: center;
                color: #0affff;
                font-weight: 500;
                letter-spacing: 1px;

            }
        }
        > #navigate {
            padding-top: 3%;

            user-select: none;
            display: flex;
            align-items: top;
            justify-content: center;
            > a {
                height: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3vh;
                line-height: 3vh;
                text-decoration: none;
                color: floralwhite;
                background-color: #5E68CA;
                width: 40%;
                border-radius: 0.7vw;
            }
            > a:hover {
                background-color: #6874dd;
            }
            > hr {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10%;
                height: 60%;
                border: 0;
                border-left: 2px solid floralwhite;
            }
            > button {
                border-radius: 0.7vw;
                width: 40%;
                display: block;
                font-size: 3vh;
                line-height: 3vh;
                cursor: pointer;
                font-family: 'Epilogue';
                padding: 0;
                outline: 0;
                border: none;
                border-width: 0;
                background: none;
                height: 60%;
                background-color: #17245C;
            }
            > button:hover {
                background-color: #203179;
            }
        }
    }
}

