#banner {

    position: relative;
    z-index: 300;
    display: flex;
    flex-direction: column;
    height: 100svh;
    max-height: 100%;
    width: 100%;
    background-color: #062551;
    overflow: hidden;


    #image {
        position: relative;
        margin-top: 10%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            user-select: none;
            bottom: 0;
            position: absolute;
            max-width: 80%;
            max-height: 100%;
        }

    }
    > #background {
        z-index: -2;
        display: flex;
        justify-content: center;
        position: absolute;
        background-repeat: no-repeat;
        background-position-y: center;
        background-clip: content-box;
        width: 100%;
        height: 100vh;
        > img {
            position: relative;
            object-fit: scale-down;
            width: 600%;
        }
    }
    a {
        cursor: pointer;
        width: 100%;
        height: 40%;
        position: relative;
        z-index: -1;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 15%;
        > svg {
            height: 25%;
            position: absolute;
        }
        > svg:first-child {
            animation: first-arrow 1.2s infinite ease-in-out;
            animation-direction: alternate;
            position: absolute;
            animation-delay: 0s;
        }
        > svg:last-child {
            animation: second-arrow 1.2s infinite ease-in-out;
            animation-direction: alternate;
            position: absolute;
            animation-delay: 0s;
        }
    }

}
@keyframes first-arrow {
    0% {
        top: 0;
    }
    100% {
        top: 12%;
    }
}

@keyframes second-arrow {
    0% {
        top: 0;
    }
    100% {
        top: 10%;
    }
}