#top-of-users-pictures {
    display: flex;
    align-items: center;
    > h1 {
        user-select: none;
        font-family: 'Epilogue';
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 7.5vh;
        transition: 0.25s ease-in-out;
    }
    > h1:hover {
        color: aqua;
    }
    > a {
        user-select: none;
        margin: 0 4vw;
        height: 6vh;
        > img {
            width: 100%;
            height: 100%;
            transition: 0.5s ease-in-out;
        }
    }
    > a:hover {
        > img {
            transform: translateX(-10px);
        }
    }
}