#picture-section {
    display: flex;
    > #center {
        position: relative;
        height: 75vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            position: absolute;
            z-index: -2;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
        > div.added {
            opacity: 0;
        }
        > img {
            display: block;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
            max-height: 100%;
            max-width: 100%;
            padding: 1vw 1vw 0 1vw;
            box-sizing: border-box;
        }
        > img.added {
            opacity: 1;
        }
    }
    > #left, > #right {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        > a {
            padding: 0;
            width: 5vw;
            height: 25%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            > svg {
                transition: 1s ease-in-out;
                border: 5px solid white;
                padding: 10%;
                border-radius: 100%;
                width: 100%;
                aspect-ratio: 1;
                box-sizing: border-box;
            }
        }
        > a:hover > svg {
            border-color: #181cfd;
            transform: scale(1.1);
            > path {
                fill: #181cfd;
                background-size: 90%;
            }
        }
    }
    > #left > a > svg {
        padding-right: 15%;
    }
    > #right > a > svg {
        padding-left: 15%;
    }
    
    > #right {
        > button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 15%;
            width: 5vw;
            aspect-ratio: 1;
            border-radius: 100%;
            border: 0;
            background-color: #45FFE2;
            font-size: 1px;
            transition: 0.4s ease-in-out;
        }
        > button:hover {
            transform: scale(0.95);
        }
        > button::after, > button::before {
            content: '';
            position: absolute;
            border: 3px solid #0a0a1b;
            box-sizing: border-box;
            width: 70%;
            --rotation: 45deg;
        }
        > button::after {
            transform: rotate(var(--rotation));
        }
        > button::before {
            transform: rotate(calc(-1 * var(--rotation)));
        }
    }
}

#info-section {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        width: 85%;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    > div:nth-child(1) {
        > div:nth-child(1) {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            > img {
                cursor: pointer;
                user-select: none;
                height: 6.5vh;
                max-width: 10vw;
                object-fit: cover;
            }
            > img:hover {
                transform: scale(1.05);
            }
            > div {
                padding-left: 1vw;
                display: flex;
                flex-direction: column;
                height: 7.5vh;
                justify-content: space-between;
                color: floralwhite;
                > span:nth-child(1) {
                    font-family: 'Days One';
                    font-size: 3vh;
                }
                > span:nth-child(2) {
                    cursor: pointer;
                    font-family: 'Epilogue';
                    font-size: 2.5vh;
                    letter-spacing: 2px;
                }
                > span:nth-child(2):hover {
                    color: #45FFE2;
                }
            }
        }
        > button {
            user-select: none;
            cursor: pointer;
            background-color: transparent;
            border: 1.5px solid #45FFE2;
            color: #45FFE2;
            border-radius: 0.5vw;
            min-width: 13%;
            height: 4.5vh;
            font-family: 'Inter';
            font-size: 2.5vh;
            transition: 0.35s ease-in;
            padding: 0;
        }
        > button.unsub {
            background-color: #161638;
            border-color: #9800be;
            color: #9800be;
        }
        > button:disabled {
            cursor: auto;
            background: #3c3c57;
            border-color: #9b96ad;
            color: #9b96ad;
        }
        
        > div:nth-child(3) {
            > button {
                cursor: pointer;
                background: none;
                border: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 10%;
                > img {
                    width: 100%;
                    height: 7vh;
                }
                > span {
                    font-family: 'Days One';
                    font-size: 2.85vh;
                    letter-spacing: 1px;
                }
            }
        }
    }
    > div:nth-child(2) {
        display: none;
        width: 95%;
        background-color: rgba(102, 51, 153, 0.443);
    }
    > div:nth-child(3) {
        display: flex;
        display: none;
        width: 95%;
        background-color: rgba(255, 255, 0, 0.427);
    }
}











/* -------------------------------------- */

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
